body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }
  
  .img1, .img2, .img3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  .img1{
    background-image:url("../images/grayscalephoto.jpg");
    min-height:1000px;
  }
  
  .img2{
    background-image:url('../images/codes.jpg');
    min-height:400px;
  }
  
  .img3{
    background-image:url('../images/Keyboard.jpg');
    min-height:400px;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-light{
    background-color:#4d1d1d;
    color:rgb(72, 144, 167);
  }
  
  .section-dark{
    background-color:#282e34;
    color:rgb(72, 144, 167);
  }
  
  .ptext{
    position: absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:6px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:10px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  p{
   font-size: 24px; 
  }
  .card{
    padding:15px, 15px !important;
    border: 10px !important;
  }
  h4{
    font-size: 30px;
  }
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }
 